a{
	color: red;
}
.contact_button{
	width: 200px;
	height: 100px;
	background-color: #ccc;
	text-align: center;
	margin: 200px;
	cursor: pointer;
}
.addNewButton{
	margin-top: 20px;
	margin-bottom: 20px;
}

.todo {
	cursor: pointer;
}

.todo--complted {
	text-decoration: line-through;
}